body {
  margin: 0;
}
figure {
  margin: 0;
  position: relative;
}
figcaption {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  box-sizing: border-box;
  color: white;
  display: block;
  left: 0;
  padding-inline: 0.5rem;
  position: absolute;
  width: 100%;
}
img {
  display: block;
}
