*.log
.docusaurus
.env
.phpunit.result.cache
.turbo
dist
node_modules
playwright-report
test-results
tmp
vendor
/apps/registry/oclif.manifest.json
/apps/web-ext/credentials.json
/apps/web-ext/dist*
/apps/web-ext/screenshots
/apps/web-ext/web-ext-artifacts*
/docs/spec/assets/openapi.json
/docs/spec/er.md
/docs/spec/model/assets/*
/pages
/static/api
/static/ts
