*.log
.docusaurus
.env
.phpunit.result.cache
.turbo
node_modules
dist
tmp
composer.lock
vendor
/apps/registry/oclif.manifest.json
/apps/web-ext/web-ext-artifacts
/apps/web-ext/screenshots
/docs/**/assets
/pages
/static/ts
