services:
  api:
    image: webdino/profile
    build:
      context: "."
      args:
        NODE_VERSION: 16.17-alpine
    healthcheck:
      test: "wget -qO /dev/null http://localhost:8080/"
    environment:
      DATABASE_URL: postgresql://postgres:${POSTGRES_PASSWORD}@db/postgres
      ISSUER_UUID: ${ISSUER_UUID}
    ports: ["8080:8080"]
  db:
    image: postgres:14.5-alpine
    healthcheck:
      test: pg_isready -U postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports: ["5432:5432"]
    volumes:
      - postgres_data_v14:/var/lib/postgresql/data
volumes:
  postgres_data_v14:
