services:
  api:
    image: webdino/profile
    build:
      context: "."
      args:
        NODE_VERSION: 16.14-alpine
    healthcheck:
      test: "wget -qO /dev/null http://localhost:8080/"
    environment:
      DATABASE_URL: postgresql://postgres:${POSTGRES_PASSWORD}@db/postgres
      ISSUER_UUID: ${ISSUER_UUID}
    ports: ["8080:8080"]
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:14.2-alpine
    healthcheck:
      test: pg_isready -U postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports: ["5432:5432"]
    volumes:
      - postgres_data_v14:/var/lib/postgresql/data
      - ./packages/registry-db/prisma/migrations:/docker-entrypoint-initdb.d:z
volumes:
  postgres_data_v14:
