services:
  api:
    image: ghcr.io/originator-profile/registry
    build:
      context: "."
      args:
        NODE_VERSION: lts-alpine
    healthcheck:
      test: "wget -qO /dev/null http://localhost:8080/"
    environment:
      DATABASE_URL: postgresql://postgres:${POSTGRES_PASSWORD}@db/postgres
      ISSUER_UUID: ${ISSUER_UUID}
      APP_URL: ${APP_URL}
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID}
    ports: ["8080:8080"]
  db:
    image: postgres:17.0-alpine
    healthcheck:
      test: pg_isready -U postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports: ["5432:5432"]
    volumes:
      - postgres_data_v17:/var/lib/postgresql/data
  mailpit:
    image: axllent/mailpit:v1.21
    ports:
      - "8025:8025"
      - "${SMTP_PORT:-1025}:1025"
  minio:
    image: quay.io/minio/minio:RELEASE.2023-12-06T09-09-22Z
    ports:
      - "${MINIO_PORT:-19000}:9000"
      - "${MINIO_CONSOLE_PORT:-19001}:9001"
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_ACCESS_KEY}
    command: 'minio server --console-address ":9001" /data'
    healthcheck:
      test: mc ready local
      interval: 5s
  minio_setup:
    image: quay.io/minio/minio:RELEASE.2023-12-06T09-09-22Z
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: sh
    command: -c '
      mc alias set local http://minio:9000 ${S3_ACCESS_KEY_ID} ${S3_SECRET_ACCESS_KEY} &&
      mc mb -p local/${S3_ACCOUNT_LOGO_BUCKET_NAME} &&
      mc anonymous set download local/${S3_ACCOUNT_LOGO_BUCKET_NAME}'
volumes:
  postgres_data_v17:
