services:
  api:
    image: ghcr.io/originator-profile/registry
    build:
      context: "."
      args:
        NODE_VERSION: lts-alpine
    healthcheck:
      test: "wget -qO /dev/null http://localhost:8080/"
    environment:
      DATABASE_URL: postgresql://postgres:${POSTGRES_PASSWORD}@db/postgres
      ISSUER_UUID: ${ISSUER_UUID}
    ports: ["8080:8080"]
  db:
    image: postgres:15.4-alpine
    healthcheck:
      test: pg_isready -U postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports: ["5432:5432"]
    volumes:
      - postgres_data_v15:/var/lib/postgresql/data
  mailpit:
    image: axllent/mailpit:v1.8
    ports:
      - "8025:8025"
      - "${SMTP_PORT:-1025}:1025"
  minio:
    image: quay.io/minio/minio:RELEASE.2023-08-31T15-31-16Z
    ports:
      - "${MINIO_PORT:-19000}:9000"
      - "${MINIO_CONSOLE_PORT:-19001}:9001"
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_ACCESS_KEY}
    entrypoint: sh
    command: -c 'mkdir -p /data/${S3_ACCOUNT_LOGO_BUCKET_NAME} && /opt/bin/minio server --console-address ":9001" /data'
volumes:
  postgres_data_v15:
