@tailwind base;
@tailwind components;

.anchor-link {
  @apply text-blue-600;
}

.anchor-link:hover {
  @apply underline;
}

.warning-text {
  color: #B80000;
  display: inline-block;
  vertical-align: middle;
}

@tailwind utilities;
