@tailwind base;
@tailwind components;

.anchor-link {
  @apply text-blue-600;
}

.anchor-link:hover {
  @apply underline;
}

.warning-text {
  color: #B80000;
  display: inline-block;
  vertical-align: middle;
}

.custom-text {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 400;
}

.custom-text-strong {
  font-weight: 700;
}

@tailwind utilities;
