name: originator-profile/profile/test
on: push
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.0
      - uses: "./.github/actions/setup"
      - uses: "./.github/actions/format"
      - uses: "./.github/actions/lint"
      - uses: "./.github/actions/build"
      #     # This item has no matching transformer
      #     - test:
      - uses: "./.github/actions/e2e"
