name: originator-profile/profile/test
on: push
jobs:
  main:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    # format ステップで新しいコミットを push するために write 権限を与える
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: "./.github/actions/setup"
      - name: Format
        uses: "./.github/actions/format"
      - name: Lint
        uses: "./.github/actions/lint"
      - name: Build
        uses: "./.github/actions/build"
        with:
          BASIC_AUTH: ${{ secrets.BASIC_AUTH }}
          BASIC_AUTH_CREDENTIALS: ${{ secrets.BASIC_AUTH_CREDENTIALS }}
      - name: Test
        uses: "./.github/actions/test"
      - name: End-to-End Test
        uses: "./.github/actions/e2e"
